<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.TagMapper">
  <resultMap id="BaseResultMap" type="com.blog.pojo.Tag">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="TagName" jdbcType="VARCHAR" property="tagname" />
    <result column="Guid" jdbcType="VARCHAR" property="guid" />
    <result column="Uid" jdbcType="INTEGER" property="uid" />
    <result column="Pid" jdbcType="INTEGER" property="pid" />
    <result column="ArticleGuid" jdbcType="VARCHAR" property="articleguid" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="IsDeleted" jdbcType="INTEGER" property="isdeleted" />
    <result column="Hot" jdbcType="INTEGER" property="hot" />
    <result column="CheckTotal" jdbcType="INTEGER" property="checktotal" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, TagName, Guid, Uid, Pid, ArticleGuid, CreateTime, IsDeleted, Hot, CheckTotal
  </sql>
  <insert id="insert" parameterType="com.blog.pojo.Tag">
    insert into tag (
   Id,TagName,Guid,Uid,Pid,ArticleGuid,CreateTime,IsDeleted,Hot,CheckTotal 
   ) values ( 
   #{id,jdbcType=INTEGER},#{tagname,jdbcType=VARCHAR},#{guid,jdbcType=VARCHAR},#{uid,jdbcType=INTEGER},#{pid,jdbcType=INTEGER},#{articleguid,jdbcType=VARCHAR},#{createtime,jdbcType=TIMESTAMP},#{isdeleted,jdbcType=INTEGER},#{hot,jdbcType=INTEGER},#{checktotal,jdbcType=INTEGER} 
   )
  </insert>
  <sql id="All_Column_List">
    Id,TagName,Guid,Uid,Pid,ArticleGuid,CreateTime,IsDeleted,Hot,CheckTotal
  </sql>
  <select id="selectByStringCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="All_Column_List" />
    from tag
    where 1=1 ${_parameter}
  </select>
  <select id="selectByCondition" parameterType="com.blog.pojo.Tag" resultMap="BaseResultMap">
    select 
    <include refid="All_Column_List" />
    from tag
    <where>
      <if test="true">
         1=1 
      </if>
      <if test="tagName !=null ">
            and TagName = #{tagname,jdbcType=VARCHAR}
      </if>
      <if test="guid !=null ">
            and Guid = #{guid,jdbcType=VARCHAR}
      </if>
      <if test="uid !=null ">
            and Uid = #{uid,jdbcType=INTEGER}
      </if>
      <if test="pid !=null ">
            and Pid = #{pid,jdbcType=INTEGER}
      </if>
      <if test="articleGuid !=null ">
            and ArticleGuid = #{articleguid,jdbcType=VARCHAR}
      </if>
      <if test="createTime !=null ">
            and CreateTime = #{createtime,jdbcType=TIMESTAMP}
      </if>
      <if test="isDeleted !=null ">
            and IsDeleted = #{isdeleted,jdbcType=INTEGER}
      </if>
      <if test="hot !=null ">
            and Hot = #{hot,jdbcType=INTEGER}
      </if>
      <if test="checkTotal !=null ">
            and CheckTotal = #{checktotal,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <delete id="deleteByGuid" parameterType="java.lang.String">
    delete from tag
     where guid = #{guid,jdbcType=VARCHAR}
  </delete>
  <select id="selectByGuid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="All_Column_List" />
     from tag
     where guid = #{guid,jdbcType=VARCHAR}
  </select>
  <update id="updateByGuidSelective" parameterType="com.blog.pojo.Tag">
    update tag
    <set>
      <trim suffixOverrides=",">
        <if test="tagName != null">
            TagName = #{tagname,jdbcType=VARCHAR},
        </if>
        <if test="uid != null">
            Uid = #{uid,jdbcType=INTEGER},
        </if>
        <if test="pid != null">
            Pid = #{pid,jdbcType=INTEGER},
        </if>
        <if test="articleGuid != null">
            ArticleGuid = #{articleguid,jdbcType=VARCHAR},
        </if>
        <if test="isDeleted != null">
            IsDeleted = #{isdeleted,jdbcType=INTEGER},
        </if>
        <if test="hot != null">
            Hot = #{hot,jdbcType=INTEGER},
        </if>
        <if test="checkTotal != null">
            CheckTotal = #{checktotal,jdbcType=INTEGER},
        </if>
      </trim>
    </set>
     where guid = #{guid,jdbcType=VARCHAR}
  </update>
</mapper>